<footer class="bg-dark text-white text-center py-4">
    <div class="container">
        <p class="mb-2">&copy; 2025 GreenStay. Todos los derechos reservados.</p>
        <div>
            <a href="https://www.facebook.com" target="_blank" class="me-3 text-white text-decoration-none">Facebook</a>
            <a href="https://www.twitter.com" target="_blank" class="me-3 text-white text-decoration-none">Twitter</a>
            <a href="https://www.instagram.com" target="_blank" class="text-white text-decoration-none">Instagram</a>
        </div>
    </div>
</footer>