<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">GreenStay</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="../pages/index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/Cuartos.html">Habitaciones</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/Servicios.html">Servicios</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/Nosotros.html">Acerca de</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/Registro.html">Registro</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/Login.html">Login</a></li>
            </ul>
        </div>
    </div>
</nav>