<!-- Sidebar -->
<div class="border-end sidebar-admin" id="sidebar-wrapper">
    <div class="sidebar-heading text-white py-4 px-3 fs-4 fw-bold text-center border-bottom">
        Panel de Control
    </div>
    <div class="list-group list-group-flush">

        <!-- Dashboard General -->

        <a href="Dashboard_admin.html" class="list-group-item list-group-item-action sidebar-link">
            Dashboard admin
        </a>

        <!-- Catalogo del hotel -->

        <a class="list-group-item list-group-item-action sidebar-link d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse" href="#moduloCatalogo" role="button" aria-expanded="false"
            aria-controls="moduloCatalogo">
            Catalogo del hotel
            <span class="caret">▸</span>
        </a>

        <div class="collapse ps-3" id="moduloCatalogo">
            <a href="Catalogo_cuartos.html" class="list-group-item list-group-item-action sidebar-link">
                Catalogo de cuartos
            </a>
            <a href="Catalogo_servicios.html" class="list-group-item list-group-item-action sidebar-link">
                Catalogo de servicios
            </a>
        </div>

        <!-- Reservas -->

        <a class="list-group-item list-group-item-action sidebar-link d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse" href="#moduloReservas" role="button" aria-expanded="false"
            aria-controls="moduloReservas">
            Reservas
            <span class="caret">▸</span>
        </a>

        <div class="collapse ps-3" id="moduloReservas">
            <a href="Calendario.html" class="list-group-item list-group-item-action sidebar-link">
                Calendario de reservas
            </a>
            <a href="Reservar.html" class="list-group-item list-group-item-action sidebar-link">
                Reservar
            </a>
            <a href="Procesamiento_pagos.html" class="list-group-item list-group-item-action sidebar-link">
                Procesamiento de pagos
            </a>
        </div>

        <!-- Gestion huespedes -->

        <a href="Gestion_huespedes.html" class="list-group-item list-group-item-action sidebar-link">
            Gestión de huespedes
        </a>

        <!-- Modulo mantenimiento -->

        <a class="list-group-item list-group-item-action sidebar-link d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse" href="#moduloMantenimiento" role="button" aria-expanded="false"
            aria-controls="moduloMantenimiento">
            Mantenimiento
            <span class="caret">▸</span>
        </a>

        <div class="collapse ps-3" id="moduloMantenimiento">
            <a href="Asignaciones_limpieza.html" class="list-group-item list-group-item-action sidebar-link">
                Asignación de limpieza
            </a>
            <a href="Reportar_fallas.html" class="list-group-item list-group-item-action sidebar-link">
                Reportar fallas
            </a>
            <a href="Historial_limpieza.html" class="list-group-item list-group-item-action sidebar-link">
                Historial de mantenimiento
            </a>

        </div>

        <!-- Comandas y roomservice -->

        <a href="Comandas.html" class="list-group-item list-group-item-action sidebar-link">
            Comandas y servicio a la habitación
        </a>

        <!-- Informes -->

        <a href="Informe_general.html" class="list-group-item list-group-item-action sidebar-link">
            Generación de informes
        </a>

        <!-- Modulo gestion hotel-->

        <a class="list-group-item list-group-item-action sidebar-link d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse" href="#moduloCreacionInfraestructura" role="button" aria-expanded="false"
            aria-controls="CreacionServicios">
            Gestion del hotel
            <span class="caret">▸</span>
        </a>

        <div class="collapse ps-3" id="moduloCreacionInfraestructura">
            <a href="Creacion_cuartos.html" class="list-group-item list-group-item-action sidebar-link">
                Creacion de cuarto
            </a>
            <a href="Creacion_servicios.html" class="list-group-item list-group-item-action sidebar-link">
                Creacion de servicio
            </a>
            <a href="Gestion_canales.html" class="list-group-item list-group-item-action sidebar-link">
                Gestión de canales</a>
        </div>

        <!-- Modulo gestion empleado-->

        <a class="list-group-item list-group-item-action sidebar-link d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse" href="#moduloGestionEmpleado" role="button" aria-expanded="false"
            aria-controls="GestionEmpleado">
            Gestion de empleados
            <span class="caret">▸</span>
        </a>

        <div class="collapse ps-3" id="moduloGestionEmpleado">
            <a href="Gestion_empleados.html" class="list-group-item list-group-item-action sidebar-link">
                Empleados
            </a>
            <a href="Contratacion.html" class="list-group-item list-group-item-action sidebar-link">
                Contratacion de empleados
            </a>
        </div>
    </div>
</div>

<div class="p-3">
    <a href="../Login.html" class="btn btn-danger w-100">
        Log out
    </a>
</div>

<!-- /#sidebar-wrapper -->