<!-- Sidebar -->
<div class="border-end sidebar-user" id="sidebar-wrapper">
    <div class="sidebar-heading text-white py-4 px-3 fs-4 fw-bold text-center border-bottom">
        Panel de Control
    </div>
    <div class="list-group list-group-flush">

        <!-- Dashboard usuairo -->

        <a href="Dashboard_user.html" class="list-group-item list-group-item-action sidebar-link">
            Dashboard
        </a>

        <a href="Detalle_cuenta.html" class="list-group-item list-group-item-action sidebar-link">
            Detalles de cuenta
        </a>

        <a href="Registrar_tarjeta.html" class="list-group-item list-group-item-action sidebar-link">
            Metodos de pago
        </a>

        <a href="Reservar_habitacion.html" class="list-group-item list-group-item-action sidebar-link">
            Reservar habitación
        </a>

        <a href="Habitaciones.html" class="list-group-item list-group-item-action sidebar-link">
            Mis reservas
        </a>

    </div>

</div>

<div class="p-3">
    <a href="../Login.html" class="btn btn-danger w-100">
        Log out
    </a>
</div>

<!-- /#sidebar-wrapper -->